<!DOCTYPE html>
<html>
<head>
    <title>成绩管理</title>
		<#include "/header.html">
    <link rel="stylesheet" href="${request.contextPath}/statics/libs/datapicker/bootstrap-datetimepicker.css">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("business:test:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("business:test:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("business:test:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">学员</div>
                        <div class="col-sm-10">
                            <select class="form-control" v-model="test.studentId" onchange="selectChange(this[selectedIndex].value)">
                                <option value="">--请选择学员--</option>
                                <option v-for="(student, index) in studentList" :key="index" v-text="student.realName" :value="student.userId"></option>
                            </select>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">考试科目</div>
                        <div class="col-sm-10" id="km">
                            <!--<label class="radio-inline">
                                <input type="radio" name="subject" value="科目一" v-model="test.subject"/> 科目一
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="subject" value="科目二" v-model="test.subject"/> 科目二
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="subject" value="科目三" v-model="test.subject"/> 科目三
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="subject" value="科目四" v-model="test.subject"/> 科目四
                            </label>-->
                        </div>
                    </div>
            <div class="form-group">
                <div class="col-sm-2 control-label" style="color: red">提示</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" readonly="readonly" id="ts"/>
                </div>
            </div>

											                    <div class="form-group">
                        <div class="col-sm-2 control-label">分数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="test.score" onkeyup='this.value=this.value.replace(/\D/gi,"")' placeholder="分数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">考试时间</div>
                        <div class="col-sm-10">
                            <input type="text" id="createTime" class="form-control" v-model="test.createTime" placeholder="考试时间" autocomplete="off">
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/business/test.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/libs/datapicker/bootstrap-datetimepicker.js"></script>
</body>
</html>