<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="${request.contextPath}/statics/css/login.css">
</head>
<body>
<div class="login">
    <div class="login_title">
        <p>一点通驾校服务平台</p>
    </div>
    <div class="login_main">
        <div class="main_left"></div>
        <div class="main_right">
            <div class="right_title">用户登录</div>
            <form action="">
                <div class="username">
                    <img src="${request.contextPath}/statics/img/username.png" alt="">
                    <input type="text" id="username" placeholder="请输入用户名">
                </div>
                <div class="password">
                    <img src="${request.contextPath}/statics/img/password.png" alt="">
                    <input type="password" id="password" placeholder="请输入密码">
                </div>
                <div class="code">
                    <img src="${request.contextPath}/statics/img/code.png" alt="">
                    <input type="text" id="captcha" placeholder="请输入验证码">
                    <div class="code_img">
                        <img src="" id="captchaPic" alt="" onclick="refreshCode()">
                    </div>
                </div>
                <div class="yes_login"><a onclick="login()">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
            </form>
        </div>
    </div>
    <div class="login_footer">
        <p>建议浏览器：谷歌浏览器、Firefox v22、Microsoft Edge</p>
    </div>
</div>
<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        refreshCode();
    });
    function login() {
        var data = "username="+$("#username").val()+"&password="+$("#password").val()+"&captcha="+$("#captcha").val();
        $.ajax({
            type: "POST",
            url: "sys/login",
            data: data,
            dataType: "json",
            success: function(result){
                if(result.code == 0){//登录成功
                    parent.location.href ='index.html';
                }else{
                    alert(result.msg);
                    refreshCode();
                }
            }
        });
    }
    function refreshCode() {
        var src = "captcha.jpg?t=" + $.now();
        $("#captchaPic").attr('src',src);//data.src为从后台获取的数据
    }
</script>
</body>
</html>